*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app{
  margin-top: 40px;
}

.form_div{
  max-width: 800px;
  border-radius: 5px;
  background-color: #f1f1f1;
  box-shadow: 0 0 20px rgb(80, 80, 80);
}

.list_div{
  border-radius: 5px;
  background-color: #f1f1f1;
  box-shadow: 0 0 20px rgb(80, 80, 80);
  text-transform: capitalize;
}

.form-group{
  display: flex;
}

.label_area{
  width: 25%;
}
.label_area_btn{
  width: 20%;
}
.profile_img{
  width: 30px;
  height: 30px;
  border-radius: 100%;
}


.header_bg{
  background-color: rgb(3, 119, 119);
}

.sort_btn{
  width: 20px;
  height: 24px;
  color: white;
  margin-left: 5px;
  padding: 5px;
  cursor: pointer;
  background-color: rgb(3, 119, 119);
  outline: none !important;
  border: none !important;
}

.action_btn{
  cursor: pointer;
}
 

/* Login */

.login_box{
  color: teal;
  width: 350px;
  margin: 100px auto 0;
  border: 1px solid white;
  padding: 20px 30px;
  box-shadow: 0 0 10px rgb(47, 47, 48);   
  background: #e5e4e4;
  border-radius: 4px;
}
.login_box h2{
  margin: 0px auto;
  letter-spacing: 2px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-align: center;
}

.input{
  width: 100%;
  height: 40px;
  margin-bottom: 20px;
  margin-top: 5px;
  padding: 10px;
  border: 1px solid lightslategrey;
  border-radius: 4px;
  font-size: 14px;
}
.input:focus {
  outline: none !important;
  border: 1px solid lightskyblue;
  box-shadow: 0 0 4px 1px rgb(2, 179, 179);
}

.login_btn{
  border-radius: 4px;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
  height: 40px;
  border: 1px solid lightslategrey;
  background: rgb(1, 161, 161);
  color: white;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: .2s;
}
.login_btn:hover{
  background: rgb(1, 179, 179);
  border: 1px solid lightskyblue;
  box-shadow: 0 0 4px 1px rgb(2, 206, 206);
}